<%= provide(:title, "Home") %>
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <small><%= Time.now %> </small>
<h2>Farmers' & Pirates'</h2>
<p>The F & P {<%= Thing.count %>} <br>

"Swimmmingly good listing of T-H-I-N-G-S"
</p>
<hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">

            <% if !logged_in? %>
                <li>
                  <%= link_to signup_path, class: "btn btn-default btn-lg" do %>
                      <span class="network-name">Sign Up!</span>
                  <% end %>
                </li>
            <% else %>
                <li>
				<p>You are logged in!</p><br>
                  <%= link_to new_thing_path, class: "btn btn-default btn-lg" do %>
                     <span class="network-name">Make-A-Thing</span>
                  <% end %>
                </li>

            <% end %>
          </ul>
<hr>
<table class="center" cellpadding="10">
    <tr align="center">
		<th></th>
		<th>Title</th>
        <th>$$$</th>
		<th>Location</th>
		<th>Maker</th>
	</tr>
	
  <% @things.each do |thing| %>
   <tr align="center">
	  <td></td>
      <td><p><%= thing.title %></p> </td>
	  <td><p><%= number_to_currency(thing.price, :unit => "$") %></p> </td>
	  <td><p><%= thing.location %></p> </td>
	  <td><p><%= link_to thing.creator.name, user_path(thing.creator) %></p> </td>
   </tr>
  <% end %>
</table>
           
		  
        </div>
      </div>
    </div>
  </div>
</div>