<% action_name == 'edit' ? is_disabled = true : is_disabled = false %>

<h1 class="text-center" style="font-weight: normal'><%= is_disabled ? "Edit" : "Register" %></h1>
<hr/>

<div class="row" style="margin-top: -10px;">
  <h4 class="text-center" style="font-weight: normal; color:white;">#313treeproject</h4>
   <hr style="width:30%;"/>
   <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
    <div class="well" id="about-well">

<%= form_for @tree do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          
          
		  <h20>TREE SUPPORT REQUEST</h20>
		  <small><a href="mailto:ter.reub@gmail.com">Need support completing your request?</a></small>

          <%= f.label :House_number? %>
          <br><i> House or lot number? </i>
          <%= f.text_field :adress, class: "form-control custom-form-control", size:'25x5'%><br>

          <%= f.label :street_name? %>
          <br><i>Steet name the tree is on? </i>
          <%= f.text_field :street_name, class: "form-control custom-form-control" %><br>
          
          <%= f.label :tree_zip_code? %>
          <br><i>Zipcode where tree is located? </i>
          <%= f.text_field :zip_code, class: "form-control custom-form-control" %><br>
                     
          <%= f.label :contact_name? %>
          <br><i>Best person to contact? </i>
          <%= f.text_field :owner_name, class: "form-control custom-form-control" %><br>
          
          <%= f.label :contact_phone? %>
          <br><i>Best number to reach the contact? </i>
          <%= f.text_field :owner_phone, class: "form-control custom-form-control" %><br>
 
		  <%= f.label :current_estimate? %>
		  <br><i>Leave blank if you haven't had an estimate yet. </i>
          <%= f.text_field :current_estimate, class: "form-control custom-form-control" %><br>
		  
		  <%= f.label :note %> 
		  <br><i>Is there something we forgot to ask?</i>
          <%= f.text_area :message, class: "form-control custom-form-control" %><br>
		  
		  <hr>
		  
		  <%= f.submit @tree.new_record? ? "SEND REQUEST" : "Edit", class: "btn btn-block purple-button" %>          
		  
		 <% end %>
    </div>
    </div>
</div>
