<footer class="footer">
<hr>

<%= link_to image_tag('home_button.jpg'), root_path %> <%= link_to 'HOURS', events_path %> <%= link_to 'ASSETS', coins_path %> <%= link_to 'BOUNTIES', bounties_path %> <%= link_to ' LISTINGS ', listings_path %> <%= link_to ' ABOUT ', :about %>

<table align="center">
<tr>
<td align="right"><h6>*</h6></td>
<td align="left" valign="bottom"><p>NO SOMOS UN BANCO O UN MIEMBRO DEL FDIC</p></td>
</tr>
<tr>
<td align="right"><p>*<p></td>
<td align="left"><p>NOT A BANK OR MEMBER FDIC</p></td>
</tr>
<td></td>
<td align="center"><hr><img src="/assets/blue_btc.jpg" alt="bitcoin" height="50" width="50"> <small>#BeTheChange #BTC:  1Dznzqz2JgfrFCTFy1KJn17X8SGEuvNG49</small><hr></td>
</tr>
</table>
</footer>
