<!DOCTYPE html>
<html lang="en">
<link href='https://fonts.googleapis.com/css?family=Bangers|Special+Elite|Permanent+Marker|Cutive+Mono|Amatic+SC|Sancreek' rel='stylesheet' type='text/css'>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

<div class="container-fluid" id="wrap">
<div class="row">

</div> 
  <%= yield %>
</div>



<%= render 'layouts/footer' %>

<%= debug(params) if Rails.env.development? %>
</body>
</html>